<!DOCTYPE html>
<html>

<head>
  <title>Plant AI</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--//meta tags ends here-->
  <!--booststrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--//booststrap end-->

  <!-- font-awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" />
  <!-- //font-awesome icons -->

  <!--stylesheets-->
  <link href="../static/styles/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->

</head>

<body>
  <div class="main-top" id="home">
    <!-- header -->
    <div class="headder-top">
      <!-- nav -->
      <nav>
        <div id="logo">
          <h1><a href="/">Tanaman Herbal</a></h1>
        </div>
      </nav>
      <!-- //nav -->
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="main-banner text-center">
      <div class="container">
        <div class="style-banner">
          <h4 class="mb-2">Welcome To Plant AI</h4>
          <h5>Offering Farming Solutions Worldwide
          </h5>
        </div>
        <div class="two-demo-button mt-md-4 mt-3">
          <p> Developing models for making disease detection easy and providing solutions for improving crop production
          </p>
        </div>

      </div>
    </div>
  </div>
  <!-- //banner -->



  <section class="blog_w3ls py-3 pb-5 pt-10" id="test">
    <div class="container pb-xl-5 pb-lg-3">
      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3"> Test Your Plants</h3>
      <div class="row" style="justify-content: center;">
        <form action="{{ url_for('predict') }}" method="POST" enctype=multipart/form-data>
          <div class="form-group text-center">
            <label for="exampleFormControlFile1"><b>Input a file</b></label>
            <input type="file" name="file" class="form-control-file" id="inputImage" onchange=previewImage(event)
              required>
            <br />
            <button class="btn btn-primary" type="submit"> Predict </button>
          </div>
        </form>
      </div>
      <img id="output-image" class="rounded mx-auto d-block" />
      <br />
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function () {
        var output = document.getElementById('output-image')
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
</body>

</html>